[submodule "external/matplotlib-cpp"]
	path = external/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/PX4/eigen.git
